---
interface Props {
	href: string;
	img: string;
	title: string;
	tipo:string;
	tallas:string
	precio: string;
}

const {href, img, title, tipo, tallas, precio } = Astro.props;
---

<li class="card">
	<a href={href}>
	<div class="card-img mb-3">
		<img class=" my-24 w-80" src={img} alt="imagen">
	</div>
	</a>
	<h4>{title}</h4>
	<p>{tipo}</p>
	<p>{tallas}</p>
	<p class="precio">{precio}</p>

</li>
<style>
	.card{
		list-style: none;
	}
	.card-img {
		list-style: none;
		padding: 1px;
		background-color: #f6f6f6;
		width: 21rem;
		height: 27rem;

	}
	
	h4 {
		
		font-size: 13px;
		font-weight:900;
		text-transform: uppercase;
	}
	p {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		color: #707072;
	}
	.precio{
		color: #000;
		font-weight: bold;
	}
	.card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
